@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin-bottom: 0;
}
li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(29, 29, 29, 0.2);
  backdrop-filter: blur(3px);
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 16px;
  z-index: 10;
}

.logo-mind_ventures {
  cursor: pointer;
  width: 154px;
}

.line-below {
  height: 2px;
  border-radius: 8px;
  background: #ff86c2;
  width: 77%;
  display: none;
}

.menu-mobi {
  position: absolute;
  align-items: center;
  height: 0;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  display: flex;
  width: 100vw;
  top: 80px;
  background: rgba(29, 29, 29, 0.7);
  backdrop-filter: blur(3px);
}

.menu-mobi li {
  line-height: 22px;
  border-right: 1px solid #ffffff;
  padding: 0 16px;
}

.menu-mobi li:last-child {
  border-right: none;
}

.menu-mobi li:first-child {
  padding-left: 0;
}

.img-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.img-menu img {
  padding: 8px 4px;
}

.img-menu.active {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.list-page {
  padding-left: 0;
}

.header-inner .list-page li:not(:last-child) {
  padding: 0 10px;
  margin-left: 30px;
}

.list-page li.activePage a {
  font-weight: 700;
  color: #ff86c2;
}

.list-page li.activePage .line-below {
  display: block;
}

.list-page li.activePage button {
  font-weight: 700;
  color: #ff86c2;
  border: 1.5px solid #ff86c2;
}

.list-page li a {
  text-decoration: none;
  font-weight: 500;
  line-height: 22px;
  color: #bdbdbd;
}

.list-page li:hover a {
  font-weight: 700;
  color: #ff86c2;
}

.header-inner .list-page li:hover .line-below {
  display: block;
}

.btn-contact {
  color: #bdbdbd;
  width: 138px;
  height: 44px;
  border: 1.5px solid #bdbdbd;
  border-radius: 40px;
  background-color: transparent;
  margin-left: 24px;
  font-weight: 500;
}

.btn-contact:hover {
  font-weight: 700;
  color: #ff86c2;
  border: 1.5px solid #ff86c2;
}

/* end header */

#introduce {
  position: relative;
  padding-top: 80px;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.img-technology {
  position: absolute;
  top: 89px;
}

.img-box-blur {
  position: absolute;
  bottom: 0;
  right: 13px;
}

.img-box-blur-mobi {
  position: absolute;
  right: 0;
  display: none;
  bottom: 305px;
}

#banner {
  height: 681px;
}

.introduce-inner {
  width: 417px;
  color: #e0e0e0;
  z-index: 3;
}

.introduce-title {
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 16px;
}

.introduce-content {
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 0;
}
.introduce-contact-link,
.introduce-contact {
  margin-top: 64px;
  width: 175px;
  height: 44px;
  text-decoration: none;
  background: linear-gradient(
    93.98deg,
    rgba(243, 18, 240, 0.5) 0%,
    rgba(96, 109, 252, 0.5) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-sizing: border-box;
  border-radius: 40px;
  color: #f3f3f3;
}
.introduce-contact-link:hover{
	color:#fff
}
.image-right {
  margin-left: 9px;
}

#highlight {
  height: 372px;
  padding-bottom: 40px;
  color: #ffffff;
}

.content-highlight {
  width: 59%;
}

.image-box {
  position: relative;
  padding-bottom: 8px;
}

.img-text {
  position: absolute;
  left: -47px;
  bottom: -8px;
}

.title-highlight {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.name-highlight {
  font-size: 32px;
  line-height: 43px;
  margin-bottom: 12px;
}

.greeting {
  margin-bottom: 40px;
  font-weight: 500;
}

.society {
  display: flex;
}

.society a {
  margin-right: 16px;
  display: flex;
  width: 48px;
  align-items: center;
  border-radius: 8px;
  transition: width 0.5s;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

.society a:hover {
  width: 163px;
  transition: width 1s;
  background: linear-gradient(
    93.98deg,
    rgba(255, 104, 178, 0.75) 0%,
    rgba(114, 69, 247, 0.75) 100%
  );
}

.society a:hover::after {
  content: "Contact Us";
  min-width: 91px;
  overflow-x: hidden;
}

.society a:hover img {
  margin-left: 4px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.down-line {
  display: none;
}

/* end  introduce*/

#contact {
  height: 582px;
  position: relative;
  background-image: url(../images/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  min-height: calc(100vh - 137px);
}

.img-technology-mobi {
  display: none;
  height: 445px;
}

.circle-1 {
  position: absolute;
  bottom: 142px;
  width: 137px;
  height: 217px;
  right: 0px;
  z-index: 3;
  display: none;
}

.circle-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #000582 0%,
    rgba(10, 10, 35, 0) 100%
  );
  filter: blur(29px);
  border-radius: 50%;
  bottom: 242px;
  left: 82px;
  z-index: 3;
  display: none;
}

.contact-title {
  padding-top: 174px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 12px;
}

.contact-ask {
  font-size: 32px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 21px;
}

.contact-mail {
  line-height: 24px;
  font-weight: 600;
  color: #ff86c2;
}

.contact-mail:hover {
  color: #ff86c2;
}

.contact-mail .img-letter {
  margin-right: 8px;
}

#contact .society {
  margin-top: 80px;
}

#contact .society a {
  text-decoration: none;
}
/* end contact */
/* portfolio */
#portfolio {
  /* height: 372px; */
  padding: 40px 0;
  color: #ffffff;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/background.png); */
}
.title-portfolio {
  font-size: 36px;
  line-height: 18px;
  margin-bottom: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  header {
    background: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(5px);
  }

  .list-page li a:hover {
    text-decoration: none;
  }

  .menu-mobi.active {
    height: 59px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease 0s;
  }

  .menu-mobi .btn-contact {
    margin-left: 0;
    border: none;
    width: auto;
    padding: 0;
  }

  #banner {
    height: auto;
  }

  .img-technology {
    position: unset;
    width: 100%;
    height: 389px;
    object-fit: cover;
  }

  .introduce-title {
    margin-top: 50px;
  }

  #highlight {
    height: auto;
    margin-top: 109px;
  }

  .content-highlight {
    width: 100%;
    margin-top: 47px;
  }

  .img-box-blur {
    width: 534px;
    bottom: 304px;
  }

  #contact .society {
    margin-top: 40px;
    margin-bottom: 54px;
  }
}
@media only screen and (max-width: 431px) {
  .menu-mobi li {
    font-size: 14px;
  }
  
}
@media only screen and (max-width: 375px) {
  header {
    background: rgba(29, 29, 29, 0.8);
    backdrop-filter: blur(5px);
  }

  .menu-mobi {
    top: 72px;
  }

  #introduce {
    padding-top: 16px;
    background: linear-gradient(
        72.85deg,
        rgba(0, 0, 0, 0.63) 0%,
        rgba(0, 0, 0, 0) 87.58%
      ),
      linear-gradient(
        81.03deg,
        rgba(0, 0, 0, 0.6) 6.82%,
        rgba(0, 0, 0, 0) 97.84%
      ),
      url(../images/background-mobi.png);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: bottom;
  }

  .img-technology {
    display: none;
  }

  .img-technology-mobi {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .introduce-title {
    margin-top: 16px;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
  }

  .introduce-content {
    font-size: 14px;
  }

  .introduce-contact {
    margin-top: 40px;
    font-size: 14px;
    width: 148px;
    height: 43px;
  }

  .image-right {
    width: 18px;
  }

  .img-box {
    width: 249px;
    height: 257px;
  }

  .img-text {
    width: 320px;
    left: -34px;
    bottom: -2px;
  }

  .title-highlight {
    font-size: 14px;
    line-height: 16px;
  }

  .name-highlight {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .down-line {
    display: inline;
  }

  .img-box-blur {
    display: none;
  }

  .img-box-blur-mobi {
    display: block;
  }

  .greeting {
    margin-bottom: 32px;
    line-height: 22px;
  }

  .contact-title {
    font-size: 14px;
    line-height: 23px;
    padding-top: 40px;
  }

  #contact {
    height: 550px;
    background-image: url(../images/background2_mobi.png);
    background-position: bottom right;
  }

  .contact-ask {
    font-size: 24px;
    line-height: 32px;
  }

  .circle-1,
  .circle-2 {
    display: block;
  }

  /* header */
  header {
    height: 72px;
  }
  /* footer */
  footer p {
    font-size: 14px;
    line-height: 29px;
  }
}
@media only screen and (max-width: 345px) {
  .menu-mobi li {
    padding: 0 10px;
  }
}
