.career {
  &-hero {
    background-image: url(/images/career/hero.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 280px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    h3 {
      font-weight: 400;
      font-size: 24px;
    }
    p {
      font-weight: 600;
      font-size: 32px;
      text-transform: uppercase;
    }
  }

  &-list {
    padding: 70px 0 100px;
    background: linear-gradient(145.72deg, #020728 28.02%, #210245 61.94%, #1f0e4e 71.79%, #030922 96.18%);
    a {
      text-decoration: none;
      display: block;
    }
  }
  &-item {
    background: linear-gradient(180deg, rgba(131, 80, 229, 0.2) 0%, rgba(80, 98, 229, 0.2) 100%);
    border-radius: 16px;
    overflow: hidden;
    color: #fff;
    display: block;
    margin: 0 10px;
    margin-bottom: 40px;
    &:hover {
      background: linear-gradient(180deg, rgba(131, 80, 229, 0.5) 0%, rgba(80, 98, 229, 0.5) 100%);
    }
    h2 {
      color: #fff;
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  &-img {
    width: 100%;
    height: 224px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-inner {
    padding: 50px 30px 50px 24px;
    h2 {
      font-size: 20px;
    }
    .time {
      color: #dddddd;
      span {
        font-size: 14px;
      }
      .circle {
        width: 4px;
        height: 4px;
        background-color: #dddddd;
        border-radius: 50%;
        display: inline-block;
        margin: 3px;
      }
    }
    ul {
      color: #ff86c2;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      align-items: center;
      margin: 10px 0;
      li {
        padding: 5px 0;
        margin-right: 20px;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
  &-detail {
    &-hero {
      background-image: url(/images/career/bg-detail.png);
      background-size: cover;
      position: relative;
      overflow: hidden;
      height: 480px;
      color: #fff;
      padding: 150px 0 20px;
      .career-inner{
        padding-left: 0;
      }
      h2 {
        font-size: 32px;
        @include mw-768{
          font-size: 24px;
        }
      }
      ul {
        li {
          font-size: 16px;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
  &-content {
    color: rgba(255, 255, 255, 0.75);
    padding: 50px 0;
    .content-title {
      font-weight: 500;
      font-size: 24px;
      color: #fff;
      margin-bottom: 20px;
    }
    .benefit {
      padding: 0;
      li {
        margin-bottom: 15px;
        svg {
          margin-right: 10px;
        }
      }
    }
    .left{
      margin-bottom: 50px;
    }
    .right {
      &-title {
        font-size: 24px;
        color: #ff86c2;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
    .summary {
      padding: 0;
      li {
        display: flex;
        border-bottom: 1px solid #e9e9f2;
        padding: 20px 0;
        align-items: center;
        svg {
          width: 32px;
          height: 32px;
        }
        div {
          width: calc(100% - 40px);
          padding-left: 15px;
          p {
            &:first-child {
              margin-bottom: 10px;
              font-size: 14px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .similar {
      padding: 0;
      li {
        border-bottom: 1px solid #e9e9f2;
        padding: 20px 0;
        svg {
          // width: 32px;
          // height: 32px;
        }
        h4 {
          font-size: 18px;
          color: #fff;
          margin: 10px 0;
        }
        .date {
          color: #dddddd;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.tag {
  display: flex;
  flex-wrap: wrap;
  &-item {
    padding: 4px 16px;
    display: inline-block;
    border-radius: 5px;
    margin: 4px 8px 4px 0;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #8350e5;
  }
}
.action {
  display: flex;
  flex-wrap: wrap;
  &-item {
    position: relative;
    display: block;
    padding: 4px 15px;
    margin-right: 20px;
    text-decoration: none;
    svg,
    span {
      color: #fff;
      position: relative;
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      padding: 2px;
      background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 0;
    }
  }
  .active {
    &::before {
      background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
      -webkit-mask: linear-gradient(45deg, #ff68b2, #7245f7) border-box;
    }
  }
}
