
html{
  overflow-x: hidden;
}
body {
  background: linear-gradient(180deg, #111039 0%, #080135 100%);
}
// .bg {
//   position: relative;
//   background-image: url(../images/background.png);
//   background-size: cover;
//   // background-repeat: no-repeat
//   background-position: center center;
// }
.section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
  @include mw-768{
    font-size: 24px;
  }
}
.about {
  padding: 50px 0 0px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 230px;
    background: #000;
    border-radius: 50%;
    filter: blur(100px);
    bottom: -100px;
    left: -10%;
    z-index: 0;
  }
  .left {
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    .item {
      max-width: 270px;
      margin: 20px;
      img {
        width: 75px;
      }
      h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p {
        font-size: 12px;
        opacity: 0.5;
      }
      &:hover {
        img {
          transform: translateY(-15px);
          @extend .tran;
        }
      }
    }
  }
  .right {
    background: linear-gradient(93.98deg, rgba(255, 104, 178, 0.6) 0%, rgba(114, 69, 247, 0.6) 100%);
    border-radius: 32px 0px 0px 32px;
    padding: 40px;
    padding-left: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
    .title {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      // width: 75%;
      line-height: 28px;
      max-width: 500px;
      @include mw-768 {
        width: 100%;
        min-width: 100%;
      }
    }
  }
}
#parallel {
  position: relative;
  padding-top: 100px;
}
#mindgaming {
  // height: 372px;
  padding-bottom: 40px;
  color: #ffffff;
  position: relative;
  // background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
  .image-box {
    width: 50%;
    @include mw-768 {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .content-highlight {
    padding-left: 100px;
    @include mw-768 {
      padding-left: 0;
    }
  }
}
.contact {
  padding: 100px 0;
  color: #fff;
  overflow: hidden;
  @include mw-768 {
    padding: 50px 20px;
  }
  &--inner {
    position: relative;
    background-image: url(../images/bg-contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 887px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 4.47869px 15.6754px 6.71803px rgba(255, 255, 255, 0.2);
    filter: drop-shadow(-22.3934px 105.249px 161.233px rgba(131, 0, 176, 0.16));
    @include mw-1100 {
      width: 100%;
      display: block;
    }
    p {
      font-size: 20px;
      width: 60%;
      @include mw-768 {
        width: 100%;
      }
    }
    .btn--discovery {
      width: 210px;
      height: 44px;
      background: linear-gradient(93.98deg, rgba(243, 18, 240, 0.5) 0%, rgba(96, 109, 252, 0.5) 100%);
      border: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
      box-sizing: border-box;
      border-radius: 40px;
      color: #f3f3f3;
      svg {
        margin-left: 10px;
      }
    }
  }
}
#portfolio {
  .container {
  }
  .row {
    justify-content: center;
    .col-md-2 {
      width: 20%;
      @include mw-920 {
        width: 30%;
      }
      @include mw-768 {
        width: 50%;
      }
    }
  }
}
.portfolio-item {
  background: linear-gradient(178.56deg, rgba(177, 198, 252, 0.04) 13.95%, rgba(255, 255, 255, 0.04) 79.95%);
  box-shadow: -22.3934px 105.249px 161.233px rgba(128, 125, 125, 0.16),
    inset 0px 4.47869px 15.6754px 6.71803px rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  height: 170px;
  width: 100%;
  margin: 15px 0;
  display: block;
  color: #fff;
  text-decoration: none;
  @include mw-768 {
    border-radius: 20px;
  }
}

.portfolio-inner {
  padding: 20px;
  background-image: url(../images/Logo/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 32px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mw-768 {
    border-radius: 20px;
    padding: 10px;
  }
}
.portfolio-inner span {
  color: #fff;
}
.portfolio-inner :hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.portfolio-inner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
  background-image: url(../images/Logo/bf.svg);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.portfolio-item img {
  height: 100%;
  width: 100%;
  max-height: 80px;
  object-fit: contain;
  // margin-bottom: 15px;
}
footer {
  background-color: #180624;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  height: 56px;
  display: flex;
}
#introduce{
  .gr-btn{
    display: flex;
    flex-wrap: wrap;
    @include mw-650{
      display: block;
      .introduce-contact-link{
        margin-top: 30px;
      }
    }
  }
}