.tran {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.social {
  padding: 70px 0;
  @include mw-768 {
    padding: 40px 0;
  }
  .section-title {
    text-align: center;
    position: relative;
    z-index: 3;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
    padding-top: 64px;
    overflow-x: auto;
    @include mw-768 {
      display: block;
    }
    .col-md-2 {
      width: 19%;
      max-width: 20%;
      padding: 0 10px;
      @include mw-1100 {
        width: 40%;
        max-width: 40%;
        margin: 10px auto;
      }
      @include mw-768 {
        width: 80%;
        max-width: 80%;
        margin: 10px auto;
      }
    }
    .active {
      width: 21%;
      max-width: 21%;
      @include mw-1100 {
        width: 42%;
        max-width: 42%;
        margin: 10px auto;
      }
      @include mw-768 {
        max-width: 90%;
        margin: 10px auto;
        width: 90%;
      }
    }
    .social-active {
      width: 21%;
      max-width: 21%;
      @include mw-1100 {
        width: 42%;
        max-width: 42%;
        margin: 10px auto;
      }
      @include mw-768 {
        max-width: 90%;
        margin: 10px auto;
        width: 90%;
      }
      .social-item {
        background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
        border-radius: 20px;
        opacity: 1;
      }
      ul {
        li {
          span {
            &:first-child {
              font-size: 36px;
            }
            &:last-child {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  ul {
    color: #fff;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        &:first-child {
          font-size: 32px;
          font-weight: 700;
          @include mw-768 {
            font-size: 24px;
          }
        }
        &:last-child {
          font-size: 20px;
          @include mw-768 {
            font-size: 16px;
          }
        }
      }
    }
  }
  &-item {
    padding: 24px 16px 40px;
    width: 100%;
    // max-width: 210px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    @extend .tran;
    opacity: 0.5;
    @include mw-768 {
      padding: 16px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      padding: 1px;
      background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    &:hover {
      opacity: 1;
      @extend .tran;
      background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
      opacity: 1;
      ul {
        li {
          span {
            &:first-child {
              font-size: 36px;
            }
            &:last-child {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  &-img {
    padding-bottom: 24px;
    border-bottom: solid 1px #fff;
    margin-bottom: 30px;
  }
  

  .active {
    .social-item {
      background: linear-gradient(45deg, #ff68b2, #7245f7) border-box; /*3*/
      border-radius: 20px;
      opacity: 1;
    }
    ul {
      li {
        span {
          &:first-child {
            font-size: 36px;
          }
          &:last-child {
            font-size: 24px;
          }
        }
      }
    }
  }
}
.influencers {
  padding: 70px 0;
  @include mw-768 {
    padding: 40px 0;
  }
  &-left {
    max-width: 460px;
    ul {
      padding: 0;
      padding-top: 32px;
      li {
        margin-bottom: 30px;
        display: flex;
        position: relative;
        align-items: center;
        &::before {
          position: absolute;
          content: "";
          bottom: 20%;
          left: 5px;
          width: 20px;
          height: 20px;
          background: linear-gradient(93.98deg, #ff68b2 0%, #7245f7 100%);
          // mix-blend-mode: normal;
          // opacity: 0.3;
          filter: blur(10px);
          border-radius: 50%;
          z-index: -1;
        }
        img {
          margin-right: 20px;
          width: 32px;
          height: 32px;
          position: relative;
        }
        span {
          color: #fff;
        }
      }
    }
    .des {
      background: linear-gradient(45deg, #7245f7 0%, #ff68b2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 20px;
      font-weight: 500;
      text-fill-color: transparent;
    }
  }
  &-img {
    margin-right: -70px;
    @include mw-1100 {
      margin-right: 0;
    }
    @include mw-768 {
      margin-right: 0;
    }
    img {
      width: 100%;
    }
  }
  .row {
    justify-content: space-between;
  }
}
.count {
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 3px 15px;
  span {
    font-weight: 600;
    font-size: 28px;
    background: linear-gradient(93.98deg, #ff68b2 0%, #7245f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @include mw-768 {
      font-size: 20px;
    }
  }
}
.kol {
  padding: 70px 0;
  @include mw-768 {
    padding: 40px 0;
  }
  .container {
    max-width: 1350px;
  }
  &-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .count {
      margin-right: 20px;
    }
    @include mw-1100 {
      margin: 20px 0;
    }
  }
  &-img {
    img {
      width: 100%;
    }
    @include mw-768 {
      margin-bottom: 20px;
    }
  }
  &-left {
    @include mw-1100 {
      text-align: center;
    }
    img {
      @include mw-768 {
        width: 100%;
      }
    }
  }
  &-content {
    margin-top: -50px;
    .row {
      align-items: flex-end;
    }
    ul {
      display: flex;
      padding: 30px 0 0 0;
      justify-content: space-between;
      @include mw-768 {
        display: block;
      }
      li {
        display: flex;
        align-items: center;
        width: 30%;
        position: relative;
        @include mw-768 {
          width: 100%;
          margin-bottom: 20px;
        }
        &::before {
          position: absolute;
          content: "";
          bottom: 20%;
          left: 5px;
          width: 20px;
          height: 20px;
          background: linear-gradient(93.98deg, #ff68b2 0%, #7245f7 100%);
          filter: blur(10px);
          border-radius: 50%;
          z-index: -1;
        }
        img {
          margin-right: 20px;
          width: 32px;
          height: 32px;
          position: relative;
        }
        div {
          color: #fff;
          display: flex;
          flex-direction: column;
          span {
            &:first-child {
              text-transform: uppercase;
            }
            &:last-child {
              font-size: 14px;
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}
.page {
  padding: 70px 0;
  .container {
    max-width: 1440px;
  }
  &-title {
    background: linear-gradient(93.98deg, #855dfb 0%, #ff68b2 54.36%, #ffc657 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
  }
  &-list {
  }
  .slick-track {
    padding: 30px 0;
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-slide {
    margin: auto 0;
    .thumb {
      width: 100%;
    }
  }
  .slick-center {
    z-index: 2;
    position: relative;
    transform: scale(1.1);
    @extend .tran;
    .item-thumb {
      padding: 20px;
      @include mw-768 {
        padding: 15px;
      }
    }
    .item-body {
      opacity: 1;
    }
    .item-glass {
      opacity: 1;
    }
  }
  &-item {
    padding: 10px;
    .item {
      &-inner {
        position: relative;
      }
      &-thumb {
        padding: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      &-body {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-glass {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        padding: 15px;
        img {
          width: 100%;
          height: 100%;
        }
        @include mw-768 {
          padding: 8px;
        }
      }
    }
  }
}
.why {
  &-img {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    @include mw-1100 {
      padding: 0;
      margin-bottom: 30px;
    }
    img {
      @include mw-768 {
        width: 100%;
      }
    }
  }
  .des {
    color: #fff;
    opacity: 0.5;
  }
  .right {
    background: linear-gradient(93.98deg, rgba(255, 104, 178, 0.6) 0%, rgba(114, 69, 247, 0.6) 100%);
    border-radius: 32px 0px 0px 32px;
    padding: 40px;
    padding-left: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
    .title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
      span {
        text-transform: uppercase;
        margin-right: 20px;
        color: rgba(255, 255, 255, 0.75);
        @include mw-768 {
          display: inline-block;
        }
      }
    }
    ul {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      @include mw-768 {
        display: block;
      }
      li {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include mw-768 {
          width: 100%;
        }
        span {
          &:first-child {
            font-weight: 600;
            font-size: 36px;
          }
          &:last-child {
            font-weight: 400;
            font-size: 24px;
          }
        }
      }
    }
  }
}
